<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Web Server</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="#">Ev's Site</a></li>
        <li><a href="#">Quo, et voluptatibus?</a></li>
        <li><a href="#">Amet, nihil odio!</a></li>
        <li><a href="#">Ex, explicabo magnam!</a></li>
        <li><a href="#">Est, velit aspernatur?</a></li>
      </ul>
    </nav>
    <main>
      <h1>Ev Cool Server</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis,
        dolorum. Quis, dolorum?
      </p>
    </main>
  </body>
</html>
