<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ev's Emporium</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/shop">Our Shop</a>
      <a href="/404meplz">???</a>
    </nav>
    <div class="content">
      <div class="errorText">
        <h1>Page Not Found</h1>
        <img class="errorImg" src="media/frown.png" alt="">
        <p>Oops! The page you’re looking for doesn’t exist.</p>
        <p>Maybe consider going back to the <a href="/">Home Page</a>?</p>
      </div>
    </div>
  </body>
</html>
