<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ev's Emporium</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/shop">Our Shop</a>
      <a href="/404meplz">???</a>
    </nav>
    <div class="content">
      <h2>Welcome to Ev's Emporium – Fine Ware for Film Fanatics</h2>
      <p>Explore our collection of unique merchandise for film photographers. Whether you're looking for supplies, cameras, or new film, we have something for you!</p>
      
      <img class="homeBanner" src="media/filmBanner.png" alt="Our Banner">
      
      <h2>Need an Invoice? We’ve Got You Covered!</h2>
      <p>For business customers and professionals, our store offers automatic invoice generation for every purchase. Simply add your items to the cart, check out, and download your PDF invoice instantly. Perfect for expense tracking, tax deductions, and corporate purchases!</p>
      <button onclick="location.href='/shop'">Browse, Buy & Download Instantly</button>
    </div>
  </body>
</html>
