<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ev Server</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/404meplz">Break the Site</a>
    </nav>
    <div class="content">
      <h1>About This Site</h1>
      <p>This site is using a web server!</p>
      <p>
        Basically, it is able to pull files down and serve them to you, all from
        localhost :)
      </p>
      <p>It's pretty cool, actually.</p>
    </div>
  </body>
</html>
